{% extends "base.html" %} {% block content %}
<br />
<div class="jumbotron">
  <h1><img src="/static/img/flask.png" height="80px" />System Monitoring</h1>

  <div class="lead">
    A system monitor application written in Python and using Flask. It was created with cloud demonstrations and containers in mind. Demonstrating features such as auto scaling, deployment to Azure or Kubernetes, or whenever you need something quick and lightweight to operate and deploy.
  </div>
  <br />

  <div class="dimmed-box">
    <p>
      <img src="static/img/github-2.svg" class="icon" />
      <a href="https://github.com/Sowmya-Iyer/system-monitoring-app" class="btn btn-info btn px-4"> GitHub Project </a>

      &nbsp;&nbsp;&nbsp;
    </p>
  </div>
</div>
{% endblock %}
